<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <input type="file" id="file" name="file" multiple>
    <button type='button' id='button'>Upload</button>


    <button type='button' id='btnDelete'>Multi Delete Test</button>
  </body>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../javascripts/util.js"></script>  
  <script>
  // const file = document.getElementById('file')
  // file.addEventListener('change', fileChosen);
  const button = document.getElementById('button')
  button.addEventListener('click', fileChosen, false);

  const btnDelete = document.getElementById('btnDelete')
  btnDelete.addEventListener('click', deleteClicked, false);

  var selectedFile = null;
  var file = null;

  async function deleteClicked (event){
    const result = await deleteFiles();
  }

  async function fileChosen (event) {
  // console.log(event);  
    if(document.getElementById("file").files.length >= 1){
      selectedFile = document.getElementById("file").files[0];
      const extensionUrl = "http://localhost:80/api/common/getExtension?type="+selectedFile.type
      console.log("extensionUrl : ", extensionUrl);    
      axios.get(extensionUrl)
        .then(s3Res => {      
            var data = s3Res.data
            console.log("s3Res.data : ",data);
            const getUploadUrl = "http://localhost:80/api/common/fileUploadUrl?mimetype="+selectedFile.type+"&extension="+data.extension
            axios.get(getUploadUrl)
              .then(s3Res => {      
                  let signatureUrl = s3Res.data.url
                  console.log(signatureUrl);                  
                  axios.put(signatureUrl, selectedFile, {                    
                  })            
                  .then(res => {
                      console.log("put reuslt" ,res);
                  });
              });                        
        });
      } 
  }

  </script>
</html>